.btn {
	display: inline-block;
	padding: 0;
	border: none;
	vertical-align: top;
	background-color: transparent;
}

.btn-menu {
	width: 17px;
	height: 14px;
	font-size: 0;
	background-image: url('../img/btn.png');
	background-repeat: no-repeat;
}