.btn {
	display: inline-block;
	padding: 0;
	border: none;
	vertical-align: top;
	background-color: transparent;
}

.btn-menu {
	position: relative;
	width: 17px;
	height: 14px;
	font-size: 0;
	background-image: linear-gradient(
		#303030 21.42857142857143%,
		transparent 21.42857142857143%, 
		transparent 35.71428571428572%, 
		#303030 35.71428571428572%,
		#303030 57.14285714285715%,
		transparent 57.14285714285715%,
		transparent 71.42857142857144%,
		#303030 71.42857142857144%,
		#303030 92.85714285714287%,
		transparent 92.85714285714287%
	);
}

.main-header {
	position: relative;
}

.checkbox,
.main-nav {
	display: none;
}

.main-nav {
	position: absolute;
	bottom: -15px;
}

.main-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav-item {
	position: relative;
}

.main-nav-item:hover > .main-nav-list {
	display: block;
}

.main-nav-list-level-one {
	margin-right: 5px;
}

.main-nav-list-level-two {
	display: none;
	position: absolute;
	z-index: 10;
	bottom: -15px;
	left: 15px;
}

.main-nav-list-level-one:last-child {
	margin-right: 0;
}

.main-nav-list-level-one::after {
	content: '';
	display: table;
	clear: both;
}

.main-nav-item-level-one {
	float: left;
}

.checkbox:checked ~ .main-header .main-nav {
	display: block;
}

.checkbox:checked ~ .main-header .btn-menu {
	background-image: none;
}

.checkbox:checked ~ .main-header .btn-menu::before,
.checkbox:checked ~ .main-header .btn-menu::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 3px;
	background-color: #303030;
}

.checkbox:checked ~ .main-header .btn-menu::before {
	top: 5px;
	transform: rotate(45deg);
}

.checkbox:checked ~ .main-header .btn-menu::after {
	bottom: 6px;
	transform: rotate(-45deg);
}